@using Ecomm.Site.Models.MyOffice.SALES_ESIORDERFORM;
@using Webdiyer.WebControls.Mvc;
@{
    var months = (EOF_PAGE_Other_MASTER)ViewBag.Months;
    PagedList<EOF_PAGE_MASTER> PagedListModel = (PagedList<EOF_PAGE_MASTER>)ViewBag.PagedListModel;
    string cl = " active in";
}

    <!--列表模式-->
    <div id="list" class="product-list tab-pane  @if(Ecomm.Site.WebApp.Common.Util.GetCookie("snell_product_tab_type") == "list") { @cl; }">
        <table class="table table-hover">
            <tr>
                <th colspan="2" style="width: 50%">Product</th>
                <th style="width: 25%">Price</th>
                <th style="width: 10%">Quantity</th>
                <th style="width: 15%"></th>
            </tr>
@foreach (var item in PagedListModel)
{
            <tr>
                <td>
                    <a href="@Url.Action("Detail", "Prod", new { id = item.ProductID })">
                        <img src="@item.SmallPic" />
                    </a>
                </td>
                <td>
                    <p class="p1"><a href="@Url.Action("Detail", "Prod", new { id = item.ProductID })">@item.ProductName</a></p>
                    <p class="p2">
                        Code: <span class="blue">@item.ProductNo</span>　 Unit: <span class="blue">@item.BaseUOFM</span>
                    </p>
                    <p class="p3">
                        Category: <span class="blue">@item.CategoryName</span> 　　&nbsp;&nbsp;&nbsp;
                        <a href="#" ng-click="removeFavItem('@item.ID',$event)" style="color: #C31919"><span class="glyphicon glyphicon-remove"></span></a>
                    </p>
                </td>
                <td>$@Html.DisplayFor(modelItem => item.SellPrice) (+GST)</td>
                <td>
                    <input type="number" class="form-control" min="1" value="1" />
                </td>
                <td class="cart-col">
                    <span class="glyphicon glyphicon-shopping-cart" data-pno='@Html.DisplayFor(modelItem => item.ProductNo)' onclick="addCart('@Html.DisplayFor(modelItem => item.ProductNo)');"></span>
                </td>
            </tr>
}
        </table>
    </div>
    <!--end-->
    <div id="tile" class="product-list tab-pane @if(Ecomm.Site.WebApp.Common.Util.GetCookie("snell_product_tab_type") == "tile") { @cl; }">
@foreach (var item in PagedListModel)
{
        <div class="pull-left product-box product-1" style="position: relative;">
            <div class="addToCart" style="position: absolute;left: 26px;top: 54px;height: 178px;display: none">
                <input type="number" class="form-control" min="1" value="1" />
                <p></p>
                <button class="btn btn-primary btn-block">Add to Cart</button>
            </div>
            <img class="pro-img" src="@item.MiddlePic" />
            <a href="@Url.Action("Detail", "Prod", new { id = item.ProductID })">
                <p class="product-name">@Html.DisplayFor(modelItem => item.ProductName)</p>
            </a>
            <div class="">
                <div class="price pull-left">
                    <span style="color: #074A84;font-size: 12px;">Code: @Html.DisplayFor(modelItem => item.ProductNo)</span>
                    <p class="new-price">$@Html.DisplayFor(modelItem => item.SellPrice) (+GST)</p>
                </div>
            </div>
            <table style="font-size: 12px;color: #666" class="table table-condensed">
                <tr>
                    <td>@months.Month0</td>
                    <td>@months.Month1</td>
                    <td>@months.Month2</td>
                    <td>@months.Month3</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Qty0)</td>
                    <td>@Html.DisplayFor(modelItem => item.Qty1)</td>
                    <td>@Html.DisplayFor(modelItem => item.Qty2)</td>
                    <td>@Html.DisplayFor(modelItem => item.Qty3)</td>
                </tr>
            </table>
            <div class="wishlist-compare">
                <div class="wishlist pull-left"><a href="#" ng-click="removeFavItem('@item.ID',$event)" title="Remove item" style="color: #C31919"><span class="glyphicon glyphicon-remove"></span></a></div>
                <div class="compare pull-right"><a href="#" title="Move to other folder" style="color: #0c4080"><span class="glyphicon glyphicon-folder-open"></span></a></div>
            </div>
        </div>
}
    </div>
<div class="clearfix"></div>
<div class="pull-right">
    @Ajax.Pager(PagedListModel, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>" }, new MvcAjaxOptions { UpdateTargetId = "articles", HttpMethod = "Post", DataFormId = "searchForm", LoadingElementId = "loadingDiv", OnBegin = "$('#articles').fadeOut('slow')", OnComplete = "$('#articles').fadeIn('slow')" })
</div>

