@section Header  {
<style>
    .products .popular-products {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 20px;
        padding: 8px 8px;
    }

        .products .popular-products .product-list {
            border: none;
        }
</style>
    }
<div class="clearfix"></div>
<!-- List -->
<div class="products">
    <ol class="breadcrumb">
        <li><a href="#">My Office</a></li>
        <li class="active">Invoices</li>
    </ol>
    <div class="popular-products">
        <div class="popular-title">
            <h3>Tax Invoices</h3>
        </div>
        <div class="form-inline" style="margin:10px 0">
            <div class="form-group input-group-lg" style="margin-right:10px">
                <div class="col-xs-4">
                    Search by:
                </div>
                <div class="col-xs-4">
                    <select class="form-control input-lg search_month"></select>
                </div>
                <div class="col-xs-4">
                    <select class="form-control input-lg search_year"></select>
                </div>
            </div>

            <div class="form-group input-group-sm" style="margin-right:10px">
                View By:
                <select class="form-control input-sm" id="viewby">
                    <option value="3">Invoice</option>
                    <option value="4">Credit</option>
                </select>
            </div>
            <div class="form-group input-group-sm" style="margin-right:10px">
                Search by Invoice no:
                <input type="text" id="txtInvoiceNo" class="form-control input-sm" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="btn_Query">GO</button>
            </div>
        </div>
        <div id="panle_list">
            @Html.Partial("_InvoiceList")
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts
{
    @Styles.Render("~/bundles/plugins/select2/css")
    @Scripts.Render("~/bundles/plugins/select2/js")

    <script type="text/javascript">
    $(function () {
        var months = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Months));
        var years = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Years));
        //$('#datestart').datetimepicker({
        //    viewMode: 'years',
        //    format: 'MM/YYYY'
        //});
        //$('#dateend').datetimepicker({
        //    viewMode: 'years',
        //    format: 'MM/YYYY'
        //});
        var datestart_month = $('select.search_month').select2({
            placeholder: "Select a month",
            data: months
        });
        datestart_month.val("@ViewBag.monForm").trigger("change");

        var datestart_year = $('select.search_year').select2({
            placeholder: "Select a start year",
            data: years
        });

        datestart_year.val("@ViewBag.yearForm").trigger("change");


        $("#btn_Query").click(function () {
            var dataForm = $.format("{0}-{1}-01", 2010, datestart_month.val());
            var invno = $("#txtInvoiceNo").val();
            var viewBy = $("#viewby").val();
            $("#panle_list").load('@Url.Action("Invoices", "Office")' + '?ts=' + Math.random(),{dataForm:dataForm,type:viewBy,InvoiceNo:invno});
        });
    });

     function viewInfo(InvoiceNo, type) {
         var url = '@Url.Action("InvoiceStatement", "Office")?InvoiceNo=' + InvoiceNo + '&soptype=' + type;
         var name = "";
         var iWidth = 1000;
         var iHeight = 800;
         var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
         var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
         window.open(url, name, 'height=' + iHeight + ',innerHeight=' + iHeight + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',status=no,toolbar=no,menubar=no,location=no,resizable=no,scrollbars=yes,titlebar=no,z-look=yes');
     }
        function TransToOrder(InvoiceNo, type) {
            $.ajax({
                //要用post方式      
                type: "Post",
                //方法所在页面和方法名
                url: "@Url.Action("TransToOrder", "Office")",
                data: "{InvoiceNo:'" + InvoiceNo + "',type:'"+type+"'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (d) {
                    bootbox.alert(d.message, function () {
                        //bind shopping cart
                        $("#shopping_cart").load('/Home/ShoppingCart' + '?ts=' + Math.random());
                    });
                },
                error: function (err) {
                    //ShowMessageAlert("Please sign in");
                    //location.href = "login.aspx";
                    
                }
            });
        }
    </script>
}
