@using Ecomm.Site.Models.EpSnell.Rela_account_location;
@using Ecomm.Domain.Models.EpSnell;
@using Ecomm.Site.Models.MyOffice.SALES_EBASKET
@{
    ShoppingOrderViewModel ShoppingOrder = (ShoppingOrderViewModel)ViewBag.ShoppingOrderModel;

    IQueryable<Rela_account_locationModel> ShopTos = (IQueryable<Rela_account_locationModel>)ViewBag.ShoppingInfor_Shoptos;
    Rela_contact userInfo = (Rela_contact)ViewBag.ShoppingInfor_User;

    var CurrentUser = (Ecomm.Domain.Models.EpSnell.Rela_contact)ViewBag.CurrentUser;
    var btnVisible = true;
    string msg = string.Empty;
    //Ben 2014-08-20 For the MinOrderValue
    if (CurrentUser.MinOrderValue > 0 && CurrentUser.MinOrderValue > double.Parse(ShoppingOrder.ShoppingCart.CartTotal))
    {
        msg = string.Format("We are unable to process as below ${0}/order threshold, please increase your order or contact the customers service team on 0800736557 to discuss options.", CurrentUser.MinOrderValue.ToString("N2"));

        //base.ShowMessage(msg, "ShoppingCart.aspx");
        btnVisible = false;
    }
}
@section Header  {
    @Styles.Render("~/bundles/cart")
}
<div class="clearfix"></div>

    <div class="products">
        <ol class="breadcrumb">
            <li><a href="#">My Office</a></li>
            <li class="active">Pending Order Detail</li>
        </ol>
        <div class="clearfix"></div>
        <div class="cart-content">
            <div class="popular-title">
                <h3>Order Detail</h3>
            </div>
            <div class="order_form_title">
                <div class="p2"></div>
                <div class="title_summ">
                    <div class="pull-left p3">
                        <table class="table">
                            <tr>
                                <td class="bluecolor">My purchase No.:</td>
                                <td>@ShoppingOrder.ShoppingInfo.PurchaseNO</td>
                            </tr>
                            <tr>
                                <td class="bluecolor">My name:</td>
                                <td>@ShoppingOrder.ShoppingInfo.PurchaseName</td>
                            </tr>
                            <tr>
                                <td class="bluecolor">My Phone:</td>
                                <td>@ShoppingOrder.ShoppingInfo.PurchaseTel</td>
                            </tr>
                            <tr>
                                <td class="bluecolor">Delivery:</td>
                                <td>
                                    @ShoppingOrder.ShoppingInfo.Company
                                    <br> @ShoppingOrder.ShoppingInfo.Contact
                                    <br> @ShoppingOrder.ShoppingInfo.City
                                    <br> @ShoppingOrder.ShoppingInfo.Suburb
                                    <br> @ShoppingOrder.ShoppingInfo.Address
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="pull-left p4">
                        <div class="p4-title bluecolor">Snell Packaging & Safety Ltd: </div>
                        8 Goodman Place, Penrose,Auckland,
                        <br /> New Zealand.
                        <br /> PO BOX 12 215 Penrose.
                        <br />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="title_summ">
                    <div class="p3 pull-left">
                        <div class="p-title"><span class="bluecolor">Comment: </span></div>
                        <div>@ShoppingOrder.ShoppingInfo.CommonText</div>
                    </div>
                    <div class="pull-left">
                        <div class="p4 p-title">
                            <p class="bluecolor">Phone: (09)622-4144, Facsimile: (09)622-4146:</p>
                            <span>http://www.snell.co.nz</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="order_form_list">
                <table class="table table-hover">
                    <tr class="redcolor">
                        <td>Item No.</td>
                        <td>Description</td>
                        <td>Unit</td>
                        <td>Qty</td>
                        <td>Price</td>
                        <td>Total</td>
                        <td></td>
                    </tr>
                    @foreach (var item in ShoppingOrder.ShoppingCart.Sales_Ebaskets)
                    {
                        var total = item.UnitPrice * item.Quantity;
                        <tr>
                            <td>@item.ProductNo</td>
                            <td>@item.ProductName</td>
                            <td>@item.Unit</td>
                            <td>
                                <input type="number" min="1" id="@Html.Raw("input_"+item.MakeOrderID+"_"+item.ProductNo.Trim())" name="@Html.Raw("input_"+item.MakeOrderID)" data-ordid="@item.MakeOrderID" data-sku="@item.ProductNo" value="@item.Quantity" class="input-sm w100" />
                                <a href="javascript:void(0)" title="update the qty." onclick="updateOrderItem('@Html.Raw("input_"+item.MakeOrderID+"_"+item.ProductNo.Trim())');"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                            <td>$@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                            <td>$@total.Value.ToString("N2")</td>
                            <td>
                                <a href="javascript:void(0)" onclick="deleteOrderItem('@item.MakeOrderID','@item.ProductNo');"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    }
                </table>
                <div class="pull-right">
                    <table class="count-table">
                        <tr>
                            <td class="textalign-right">Subtotal:</td>
                            <td class="textalign-right">$@Html.DisplayFor(modelItem => ShoppingOrder.ShoppingCart.CartTotal)</td>
                        </tr>
                        <tr>
                            <td class="textalign-right">Freight Fee:</td>
                            <td class="textalign-right">$@Html.DisplayFor(modelItem => ShoppingOrder.ShoppingCart.Freight)</td>
                        </tr>
                        <tr>
                            <td class="textalign-right">Miscellaneous:</td>
                            <td class="textalign-right">$@Html.DisplayFor(modelItem => ShoppingOrder.ShoppingCart.Miscellaneous)</td>
                        </tr>
                        <tr>
                            <td class="textalign-right">GST:</td>
                            <td class="textalign-right">$@Html.DisplayFor(modelItem => ShoppingOrder.ShoppingCart.GST)</td>
                        </tr>
                        <tr>
                            <td class="textalign-right redcolor">Total:</td>
                            <td class="textalign-right redcolor">$@Html.DisplayFor(modelItem => ShoppingOrder.ShoppingCart.Total)</td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cart-bottom">
            <div class="checkout">
                <a href="@Url.Action("PendingOrder", "Office")" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>Cancel
                </a>
                <a href="javascript:void(0)" onclick="AproveOrder('@ShoppingOrder.OrderID');" class="btn btn-primary pull-right @if (!btnVisible){ @Html.Raw("disabled");} ">
                    Save and Aprove<span class="glyphicon glyphicon-chevron-right"></span>
                </a>

            </div>
        </div>
    </div>
@section scripts
{
    <script>

        function deleteOrderItem(orderid,sku) {
            $.post('@Url.Action("PendingOrderDetailDeleteItem", "Office")', { sku: sku, order_id: orderid }, function (result) {
                //console.log(result);
                if (result.success) {
                    bootbox.alert(result.message, function () {
                        window.location.reload();
                    });
                }
            }, 'json');
        }
        function updateOrderItem(inputid) {
            var me = $('#' + inputid);
            var qty = me.val();
            if (qty == 0) {
                bootbox.alert("Not less than one.");
                return;
            }
            var sku = me.attr("data-sku");
            var orderid = me.attr("data-ordid");
            $.post('@Url.Action("PendingOrderDetailUpdateItem", "Office")', { sku: sku, order_id: orderid, qty: qty }, function (result) {
                //console.log(result);
                if (result.success) {
                    bootbox.alert(result.message, function () {
                        window.location.reload();
                    });
                }
            }, 'json');
        }

        function AproveOrder(ordid) {
            //console.log(ordid);
            var arrList = new Array();
            $("input[name='input_" + ordid + "']").each(
                function () {
                    //alert($(this).val());
                    //console.log($(this));
                    var qty = $(this).val();
                    var sku = $(this).attr("data-sku");

                    arrList.push(sku + " | " + qty);
                });
            //console.log(arrList);
            $.post('@Url.Action("PendingOrderSaveAndAprove", "Office")', { OrderID: ordid, skus: arrList }, function (result) {
                //console.log(result);
                if (result.success) {
                    bootbox.alert(result.message, function () {
                        window.location.href = '@Url.Action("PendingOrder", "Office")';
                    });
                }
            }, 'json');
        }
    </script>
}
