@using Ecomm.Site.Models.SysConfig.INFOR_CATEGORIES
@using Quick.Site.Common.Models
@model INFOR_CATEGORIESModel

@Html.HiddenFor(t => t.ID)
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#base" data-toggle="tab">Information</a></li>
    <li><a href="#role" data-toggle="tab">Other</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="base">

        <div class="control-group">
            <label class="control-label-form">
                <label class="red">*</label>@Html.DisplayNameFor(t => t.InforCategoryName) :
            </label>
            <div class="controls">
                @Html.TextBoxFor(t => t.InforCategoryName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.InforCategoryName)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label-form">
                @Html.DisplayNameFor(t => t.DisplayOrder) :
            </label>
            <div class="controls">
                @Html.TextBoxFor(t => t.DisplayOrder, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label-form">
                @Html.DisplayNameFor(t => t.ParentName) :
            </label>
            <div class="controls">
                @Html.DropDownListFor(t => t.ParentID,Model.ParentCategies,new { @class = "form-control" })
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label-form">
                @Html.DisplayNameFor(t => t.Clevel) :
            </label>
            <div class="controls">
                @Html.TextBoxFor(t => t.Clevel, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label-form">
                @Html.DisplayNameFor(t => t.Status) :
            </label>
            <div class="controls">
               @Html.DropDownListFor(t => t.Status, Model.StatusModel.EnabledItems, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label-form">
                @Html.DisplayNameFor(t => t.Item01) :
            </label>
            <div class="controls">
                @Html.TextBoxFor(t => t.Item01, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label-form">
                @Html.DisplayNameFor(t => t.Item02) :
            </label>
            <div class="controls">
                @Html.TextBoxFor(t => t.Item02, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label-form">
                @Html.DisplayNameFor(t => t.Item03) :
            </label>
            <div class="controls">
                @Html.TextBoxFor(t => t.Item03, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label-form">
                @Html.DisplayNameFor(t => t.Item04) :
            </label>
            <div class="controls">
                @Html.TextBoxFor(t => t.Item04, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label-form">
                @Html.DisplayNameFor(t => t.Item05) :
            </label>
            <div class="controls">
                @Html.TextBoxFor(t => t.Item05, new { @class = "form-control" })
                
            </div>
        </div>

    </div>
    <div class="tab-pane" id="role">
        <br>
    </div>
</div>

