@using Ecomm.Site.Models.SysConfig.SYS_DICTIONARY
@using Ecomm.Site.Models.AdminCommon
@model SYS_DICTIONARYModel

<div id="content-body" class="row-fluid">
    <div class="span22">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-info-sign"></i></span>
                <h5>Display Information</h5>
            </div>
            <div class="widget-content nopadding">
                    <div class="form-horizontal search-form">
                    <div class="control-group">
                        <label class="search-label">@Html.DisplayNameFor(t => t.DictionaryName) :</label>
                        <div class="span3 search-label-input">
                            @Model.DictionaryName
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="search-label">@Html.DisplayNameFor(t => t.Remark) :</label>
                        <div class="span3 search-label-input">
                            @Model.Remark
                        </div>
                    </div>
                    
                    <div class="form-actions form-operate">
                        <a class="btn btn-default" href="@Url.Action("Index", "SYS_DICTIONARY", new { Area = "SysConfig" })" role="button">Back</a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    </script>
}

