@if (ViewBag.MyFavFolders != null)
{
    Ecomm.Site.Models.MyOffice.SALES_FAVFOLDER.SALES_FAVFOLDER_ViewModel info = (Ecomm.Site.Models.MyOffice.SALES_FAVFOLDER.SALES_FAVFOLDER_ViewModel)ViewBag.MyFavFolders;
<form id="addfavourite-form" action="@Url.Action("AddFavouriteItem", "Office")" method="post" role="form" style="display: block;">
    <div class="modal-header">
        <input type="hidden" name="action" value="@info.Action" />
        <input type="hidden" name="favouriteID" value="@info.FavouriteID" />
        <input type="hidden" name="sku" value="@info.Sku" />
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">@info.ActionTitle</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    @foreach (var item in info.MyFavList)
                {
                        <li>
                            <input id="radio_@item.FavouriteID" value="@item.FavouriteID" class="styled" type="radio" name="radio">
                            <label for="radio_@item.FavouriteID" class="font-bolder">
                                @item.Favourite (@item.Count)
                            </label>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-main-addfav" tabindex="3">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="4">Close</button>
    </div>
</form>
}
