<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Snell packaging & safety</title>
    @Styles.Render("~/Content/snell")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("header", false)
</head>
<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <!-- Top Links -->
            @Html.Partial("_Top")
            <!-- Search & Shopping cart-->
            <div class="tools">
                @Html.Partial("_Search")
                <div class="cart" id="shopping_cart">
                    @Html.Partial("_ShoppingCart")
                </div>
             </div>
            <!-- navs -->
            @Html.Partial("_Navigation")
        </div>
        @RenderBody()
        <!-- footer -->
        @Html.Partial("_Footer")
    </div>

    <!--Login-part-->
    @Html.Partial("_Login")
    @Styles.Render("~/Content/plugins/bootstrapvalidator")
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @Scripts.Render("~/bundles/index", "~/bundles/plugins/bootstrapvalidator")
    @RenderSection("scripts", required: false)
    @RenderSection("footer", false)
    <script type="text/javascript">
        function logout() {
            bootbox.alert({
                message: "Are you Sign out!",
                callback: function () {
                    $("#top_menu").load('@Url.Action("Logout", "Home")' + '?ts=' + Math.random());
                    //shopping cart
                    $("#shopping_cart").load('@Url.Action("ShoppingCart", "Home")' + '?ts=' + Math.random());
                    $('.cart').unbind("mouseover").unbind("mouseout");
                }
            })
        }
        $(document).ready(function () {
            //shopping cart
            //$('.cart').unbind("mouseover").unbind("mouseout");
            //$('.cart .cart-layer').hide();
            var hdun = '@ViewBag.UserName';
            $("#hdUserid").val(hdun);
            if (hdun != "") {
                //shopping cart
                $('.cart').on('mouseover', function () {
                    $('.cart .cart-layer').show();
                }).on('mouseout', function () {
                    $('.cart .cart-layer').hide();
                })
            } else {
                $('.cart').unbind("mouseover").unbind("mouseout");
            }

            $('#login-modal-form').on('show.bs.modal', function () {
                $('#login-form').bootstrapValidator('resetForm', true);
            });
            //login
            $('#login-form').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                excluded: ':disabled',
                fields: {
                    LoginName: {
                        validators: {
                            notEmpty: {
                                message: 'The username is required'
                            }
                        }
                    },
                    LoginPwd: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();
                // Get the form instance
                var $form = $(e.target);
                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');
                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function (result) {
                    //console.log(result);
                    if (result.ResultType == 0) {
                        // You can reload the current location
                        //window.location.reload();
                        $("#top_menu").load('@Url.Action("Top", "Home")' + '?ts=' + Math.random());
                        $('#login-modal-form').modal('hide');

                        //bind shopping cart
                        $("#shopping_cart").load('@Url.Action("ShoppingCart", "Home")' + '?ts=' + Math.random());
                        $('.cart').on('mouseover', function () {
                            $('.cart .cart-layer').show();
                        }).on('mouseout', function () {
                            $('.cart .cart-layer').hide();
                        });
                    } else {
                        // The account is not found
                        // Show the errors
                        bootbox.alert(result.Message);

                        // Enable the submit buttons
                        $('#login-form').bootstrapValidator('disableSubmitButtons', false);
                    }
                }, 'json');
            });

        });

    </script>
</body>
</html>
