<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Snell packaging & safety</title>
    @Styles.Render("~/bundles/snell")
    @Scripts.Render("~/bundles/modernizr")
   @Styles.Render("~/bundles/plugins/bootstrap-table/css")
    @RenderSection("header", false)
</head>
<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <!-- Top Links -->
            @Html.Partial("_Top")
            <!-- Search & Shopping cart-->
            <div class="tools">
                @Html.Partial("_Search")
                <div class="cart" id="shopping_cart">
                    @Html.Partial("_ShoppingCart")
                </div>
             </div>
            <!-- navs -->
            @Html.Partial("_Navigation")
        </div>
        @RenderBody()
        <!-- footer -->
        @Html.Partial("_Footer")
    </div>

    <!--Login-part-->
    @Html.Partial("_Login")
    <!--Add Favourite -part-->
    @Html.Partial("_AddFavourite")
    @Styles.Render("~/bundles/plugins/bootstrapvalidator/css")
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/angular")
    @Scripts.Render("~/bundles/index", "~/bundles/plugins/bootstrapvalidator/js", "~/bundles/autocomplete/js")
    @Scripts.Render("~/bundles/plugins/bootstrap-table/js")
    <script type="text/javascript">
        function logout() {
            bootbox.alert({
                message: "Are you Sign out!",
                callback: function () {
                    $("#top_menu").load('@Url.Action("Logout", "Home")' + '?ts=' + Math.random());
                    //shopping cart
                    $("#shopping_cart").load('@Url.Action("ShoppingCart", "Home")' + '?ts=' + Math.random());
                    $('.cart').unbind("mouseover").unbind("mouseout");
                }
            })
        }
        $(document).ready(function () {
            //shopping cart
            //$('.cart').unbind("mouseover").unbind("mouseout");
            //$('.cart .cart-layer').hide();
            var hdun = '@ViewBag.UserName';
            $("#hdUserid").val(hdun);
            if (hdun != "") {
                //shopping cart
                $('.cart').on('mouseover', function () {
                    $('.cart .cart-layer').show();
                }).on('mouseout', function () {
                    $('.cart .cart-layer').hide();
                })
            } else {
                $('.cart').unbind("mouseover").unbind("mouseout");
            }

            $('#login-modal-form').on('show.bs.modal', function () {
                $('#login-form').bootstrapValidator('resetForm', true);
            });
            //login
            $('#login-form').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                excluded: ':disabled',
                fields: {
                    LoginName: {
                        validators: {
                            notEmpty: {
                                message: 'The username is required'
                            }
                        }
                    },
                    LoginPwd: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();
                // Get the form instance
                var $form = $(e.target);
                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');
                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function (result) {
                    //console.log(result);
                    if (result.ResultType == 0) {
                        // You can reload the current location
                        $('#login-modal-form').modal('hide');
                        window.location.reload();

                        @*$("#top_menu").load('@Url.Action("Top", "Home")' + '?ts=' + Math.random());
                        //bind shopping cart
                        $("#shopping_cart").load('@Url.Action("ShoppingCart", "Home")' + '?ts=' + Math.random());
                        $('.cart').on('mouseover', function () {
                            $('.cart .cart-layer').show();
                        }).on('mouseout', function () {
                            $('.cart .cart-layer').hide();
                        });*@
                    } else {
                        // The account is not found
                        // Show the errors
                        bootbox.alert(result.Message);

                        // Enable the submit buttons
                        $('#login-form').bootstrapValidator('disableSubmitButtons', false);
                    }
                }, 'json');
            });
        });

        $(document).ready(function () {
            initAddFavourite();

            $('#addfavourite-modal-form').on('show.bs.modal',
            function (event) {
                $('#addfavourite-form').bootstrapValidator('resetForm', true);

                //var a = $(event.relatedTarget) // a that triggered the modal
                //var sku = a.data('pno'); //这种传参方式一: 是从html中datat-pno = 'xxxx'

                var sku = event.relatedTarget.sku; //这种传参方二: 是从js 调用modal 显示同时传参.
                //console.log(sku);
                //var f_id = a.data('f_id');
                //var action = a.data('action');
                @*$("#addfavourite-modal-form div.modal-content").load('@Url.Action("MyFavouriteModel", "Office")' + '?ts=' + Math.random(), { sku: sku }, function () {
                    //initAddFavourite();
                });*@
                //console.log(sku);
                var modal = $(this);
                modal.find("input[name='sku']").val(sku);
            });

        });

        function initAddFavourite() {
            //addfavourite
            $('#addfavourite-form').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                excluded: ':disabled',
                fields: {
                    radio: {
                        validators: {
                            notEmpty: {
                                message: 'it is required'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();
                // Get the form instance
                var $form = $(e.target);
                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');
                var favID = $form.find("input[name=radio]:checked").val();
                // Use Ajax to submit form data
                var post_data = { action: $form.find("input[name=action]").val(), sku: $form.find("input[name=sku]").val(), favid: favID, f_id: $form.find("input[name=favouriteID]").val() };
                $.post($form.attr('action'), post_data, function (result) {
                    //console.log(result);
                    if (result.ResultType == 0) {
                        // You can reload the current location
                        $('#addfavourite-modal-form').modal('hide');
                        bootbox.alert(result.Message, function () {
                            window.location.reload();
                        });
                    } else {
                        // The account is not found
                        // Show the errors
                        bootbox.alert(result.Message);

                        // Enable the submit buttons
                        $('#addfavourite-form').bootstrapValidator('disableSubmitButtons', false);
                    }
                }, 'json');
            });
        }



    </script>
    @RenderSection("scripts", required: false)
    @RenderSection("footer", false)
</body>
</html>
