@using Ecomm.Site.Models.Product.PROD_CATEGORIES
<div class="nav-bar">
    <div class="all-category">
        <a href="javascript:;" class="show-menu">ALL CATEGORY<i class="fa fa-angle-right"></i></a>
        <!-- 二级导航 -->
        <div style="display:none;" class="dd">
            <div class="dd-inner">
                <div class="item" data-menu="Cleaning-Supplies">
                    <a href=""><i class="fa fa-phone-square"></i>PACKAGING</a>
                </div>
                <div class="item" data-menu="Security-and-Bunding">
                    <a href=""><i class="fa fa-cloud"></i>SAFETY</a>
                </div>
            </div>
            <!-- 子分类 -->
            <div style="display:none" class="dorpdown-layer" id="index_menus_sub">
                <div class="item-sub">
                    @if (ViewBag.MenuPackagingModel != null)
                    {
                        <ul>
                            @{
                                MenuViewModel PackagingCates = (MenuViewModel)ViewBag.MenuPackagingModel;
                            }
                            @foreach (var item in PackagingCates.Menus)
                            {
                                <li><a href="@Url.Action("Index", "Prod",new { categorycode = item.CategoryCode })">@Ecomm.Site.WebApp.Common.CommonHelper.GetCateName(item.MenuAlias, item.CategoryName)</a></li>
                            }
                        </ul>
                     }
                </div>
                <div class="item-sub">
                    @if (ViewBag.MenuSafetyModel != null)
                    {
                        <ul>
                            @{
                                MenuViewModel SafetyCates = (MenuViewModel)ViewBag.MenuSafetyModel;
                            }
                            @foreach (var item in SafetyCates.Menus)
                            {
                                <li><a href="@Url.Action("Index", "Prod",new {categorycode = item.CategoryCode})">@Ecomm.Site.WebApp.Common.CommonHelper.GetCateName(item.MenuAlias, item.CategoryName)</a></li>
                            }
                        </ul>
                                }
                </div>
               
            </div>
        </div>
    </div>

    <div class="nav">
        <ul class="navitems">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">SPECIALS<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu nav-box" role="menu" aria-labelledby="dLabel">
                        <li><a href="@Url.Action("Hotspecials", "Prod",new { cate= "Packaging" })">Packaging</a></li>
                        <li><a href="@Url.Action("Hotspecials", "Prod", new { cate= "Safety" })">Safety</a></li>
                </ul>
            </li>
@if (!string.IsNullOrEmpty(ViewBag.UserName))
{
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MYOFFICE<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu nav-box" role="menu" aria-labelledby="dLabel">
                    <li><a href="@Url.Action("EasiOrderForm", "Office")">Snell Easi Order Form</a></li>
                    <li><a href="@Url.Action("MyFavourites", "Office")">My Favourites</a></li>

                    <li><a href="@Url.Action("ContractPricing", "Office")">Contract Pricing</a></li>
                    <li><a href="@Url.Action("CustomizedProdcut", "Office")">Customised Products</a></li>
                    <li><a href="@Url.Action("Invoices", "Office")">Invoices & Credits</a></li>

                    <li><a href="@Url.Action("OrderStatus", "Office")">Order Status</a></li>
                    <li><a href="@Url.Action("OrderByLoca", "Office")">Orders by Location</a></li>
                    <li><a href="@Url.Action("OrderHistory", "Office")">Order History</a></li>
                   

                    <li><a href="@Url.Action("MyProfile", "Office")">My Profile</a></li>
                   
                    <li><a href="@Url.Action("Users", "Office")">User Manager</a></li>
                    <li><a href="@Url.Action("OrderLimit", "Office")">Order Limit Manager</a></li>
                    
                    <li><a href="/PendingOrder.aspx">Pending Order</a></li>
                    
                </ul>
            </li>
}
            <li><a href="@Url.Action("AboutUs", "Infor")">ABOUT US</a></li>
            <li>
                <a href="@Url.Action("EasiOrderForm", "Infor")">ON SALE</a>
                <!-- tip -->
                <div class="tooltip fade top in" role="tooltip" id="onsale-tip">
                    <div class="tooltip-arrow" style="left: 50%;"></div>
                    <div class="tooltip-inner">Hot</div>
                </div>
            </li>
            <li><a href="@Url.Action("ContactUs", "Infor")">CONTACT US</a></li>
        </ul>
    </div>

</div>
