@using Ecomm.Site.Models.Product.PROD_MASTER
@using Ecomm.Site.Models.AdminCommon
@model PROD_MASTERModel
@{
    ViewBag.Title = ViewBag.CurrentTitle + "- Snell Admin";
    var displayButton = new Ecomm.Site.Models.AdminCommon.ButtonModel();
    var editButton = new Ecomm.Site.Models.AdminCommon.ButtonModel();
    var deleteButton = new Ecomm.Site.Models.AdminCommon.ButtonModel();
    editButton = ViewBag.Edit;
    deleteButton = ViewBag.Delete;
    displayButton = ViewBag.Display;
}
@section css{
    @Styles.Render("~/bundles/css/jqueryui")
}


<div id="content-body" class="row-fluid">
    <div class="span22">
        <!--Action -->
        @Html.Partial("Search", Model.SearchModel)

        <!--List-->
        @Html.Partial("List")

        <!--Add & Edit-->
        @Html.Partial("_FormModal")
    </div>
</div>

@section scripts{
@Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        var oTable = null;
        $(function () {
            var actionUrl = "@Url.Action("List")?rand=" + Math.random();
            var aoColumns = [
                    { "sName": "SortId", "bSortable": false },
                    { "sName": "ProductNo", "bSortable": true },
                    { "sName": "ProductName", "bSortable": true },
                    { "sName": "ProductType", "bSortable": true },
                    { "sName": "StndCost", "bSortable": false },
                    { "sName": "BaseUOFM", "bSortable": false },
                    {
                        "sName": "ID",
                        "bSearchable": false,
                        "bSortable": false,
                        "fnRender": function (oObj) {
                            var btnArray = "";
                            @if (displayButton != null)
                            {
                                <text>btnArray += '<button type="submit" class="btn btn-normal" title="@displayButton.Text" onclick="View(\'' + oObj.aData[oObj.aData.length - 1] + '\')"><span class="@displayButton.Icon"></span></button>'</text>
                            }
                            @if (editButton != null)
                            {
                                <text>btnArray += '<button type="submit" class="btn btn-primary btn-normal" title="@editButton.Text" onclick="Edit(\'' + oObj.aData[oObj.aData.length - 1] + '\')"><span class="@editButton.Icon"></span></button>'</text>
                            }
                            @if (deleteButton != null)
                            {
                                <text>btnArray += '<button type="submit" class="btn btn-danger btn-normal" title="@deleteButton.Text" onclick="Delete(\'' + oObj.aData[oObj.aData.length - 1] + '\')"><span class="@deleteButton.Icon"></span></button>'</text>
                            }
                            return btnArray;
                        }
                    }
            ];
            //InitData tables
            oTable = InitDatatables($(".data-table"), actionUrl, aoColumns, oTable);
        });

        //Query
        function Search() {
            var filterdata = $(".search-form").serialize();
            oTable.fnReloadAjax("@Url.Action("List")?rand=" + Math.random() + "&" + filterdata);
        }

        //Create
        function Create() {
            var actionUrl = "@Url.Action("Create")";
            var param = {};
            ShowModal(actionUrl, param, "Add PROD_MASTER");
        }

        //View
        function View(id) {
            location.href = "@Url.Action("Display")" + "?Id=" + id;
        }

        //Edit
        function Edit(id) {
            var actionUrl = "@Url.Action("Edit")";
            var param = { Id: id }
            ShowModal(actionUrl, param, "Edit PROD_MASTER");
        }

        //Save
        function Save() {
            SaveModal(oTable);
        }

        //Delete
        function Delete(id) {
            var actionUrl = "@Url.Action("Delete")";
            var param = { Id: id }
            DeleteRecord(actionUrl, param, oTable);
        }

    </script>
}
