@using Ecomm.Site.Models.Product.PROD_GROUP_ITEM
@using Ecomm.Site.Models.AdminCommon
@model PROD_GROUP_ITEMModel

<div id="content-body" class="row-fluid">
    <div class="span22">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-info-sign"></i></span>
                <h5>Display Information</h5>
            </div>
            <div class="widget-content nopadding">
                    <div class="form-horizontal search-form">
                    <div class="control-group">
                        <label class="search-label">@Html.DisplayNameFor(t => t.Notes) :</label>
                        <div class="span3 search-label-input">
                            @Model.Notes
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="search-label">@Html.DisplayNameFor(t => t.Picture) :</label>
                        <div class="span3 search-label-input">
                            @Model.Picture
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="search-label">@Html.DisplayNameFor(t => t.Status) :</label>
                        <div class="span3 search-label-input">
                            @Model.Status
                        </div>
                    </div>
                    
                    <div class="form-actions form-operate">
                        <a class="btn btn-default" href="@Url.Action("Index", "PROD_GROUP_ITEM", new { Area = "Product" })" role="button">Back</a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    </script>
}

