@using Ecomm.Site.Models.Product.PROD_MASTER;
@using Webdiyer.WebControls.Mvc;
@{
    PagedList<ProductModel> PagedListProductModel = (PagedList<ProductModel>)ViewBag.PagedListProductModel;
    string cl = " active in";
}
        <!--list 模式-->
<div id="list" class="product-list tab-pane @if(Ecomm.Site.WebApp.Common.Util.GetCookie("snell_product_tab_type") == "list") { @cl; }">
    <table class="table table-hover">
        <tr>
            <th colspan="2" style="width: 50%">Product</th>
            <th style="width: 25%">Price</th>
            <th style="width: 11%">Quantity</th>
            <th style="width: 15%"></th>
        </tr>
@foreach (var item in PagedListProductModel)
{
        <tr>
            <td>
                <a href="@Url.Action("Detail", "Prod", new { id = item.ID })">
                    <img src="@item.SmallPic" />
                </a>
            </td>
            <td>
                <p class="p1"><a href="@Url.Action("Detail", "Prod", new { id = item.ID })">@Html.DisplayFor(modelItem => item.ProductName)</a></p>
                <p class="p2">
                    Code: <span class="blue">@Html.DisplayFor(modelItem => item.ProductNo)</span>　 Unit: <span class="blue">@Html.DisplayFor(modelItem => item.BaseUOFM)</span>
                </p>
                <p class="p3">
                    Category: <span class="blue">@Html.DisplayFor(modelItem => item.ProdCategoryCode)</span> 　　&nbsp;&nbsp;&nbsp;
                    <a href="javascript:void(0);" onclick="addFav('@item.ProductNo');"><i class="fa fa-heart-o"></i></a>
                </p>
            </td>
            <td>$@Html.DisplayFor(modelItem => item.SellPrice) (+GST)</td>
            <td>
                <input type="number" class="form-control" min="1" value="1" />
            </td>
            <td class="cart-col">
                <span class="glyphicon glyphicon-shopping-cart" data-pno='@Html.DisplayFor(modelItem => item.ProductNo)' onclick="addCart('@Html.DisplayFor(modelItem => item.ProductNo)');" ></span>
            </td>
        </tr>
}
    </table>
</div>
<!--end-->
<!--array 模式-->
<div id="tile" class="product-list tab-pane @if(Ecomm.Site.WebApp.Common.Util.GetCookie("snell_product_tab_type") == "tile") { @cl; }">
@foreach (var item in PagedListProductModel)
{
    <div class="pull-left product-box product-1">
        <a href="@Url.Action("Detail", "Prod", new { id = item.ID })"><img class="pro-img" src="@item.MiddlePic" /></a>
        <p class='star-line'>
            <img src='/Content/snell/images/star-4.png'>
        </p>
        <a href="@Url.Action("Detail", "Prod", new { id = item.ID })">
            <p class="product-name" data-prono="@Html.DisplayFor(modelItem => item.ProductNo)">@Html.DisplayFor(modelItem => item.ProductName)</p>
        </a>
        <div class="price-cart">
            <div class="price pull-left">
                <p class="old-price">@Html.DisplayFor(modelItem => item.ProductNo)</p>
                <p class="new-price">$@Html.DisplayFor(modelItem => item.SellPrice) (+GST)</p>
            </div>
            <div class="pull-right">
                <a href='javascript:void(0);' class='eof_cart' data-pno='@Html.DisplayFor(modelItem => item.ProductNo)' onclick="addCart('@Html.DisplayFor(modelItem => item.ProductNo)');" >
                    <img src='/Content/snell/images/cart_03.png'>
                </a>
            </div>
        </div>
        <div class="wishlist-compare">
            <div class="wishlist pull-left"><a href="javascript:void(0);" onclick="addFav('@item.ProductNo');"><i class="fa fa-heart-o"></i> <span>wishlist</span></a></div>
        </div>
        <div class="clearfix"></div>
        
    </div>
}
</div>