@using Ecomm.Site.Models.Product.PROD_CATEGORIES
@using Ecomm.Site.Models.Product.PROD_MASTER;
@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "Product List Page";
    MenuViewModel Leftmenus = (MenuViewModel)ViewBag.LeftMenusModel;
    string cl = "class= active";
}
@section Header  {
    @Styles.Render("~/bundles/product")
}
<div class="clearfix"></div>
<!-- Product list -->
<div class="products">
    <div class="today-deals">
        @if (Leftmenus != null)
        {
            <h3>@Ecomm.Site.WebApp.Common.CommonHelper.GetCateName(Leftmenus.Category.MenuAlias, Leftmenus.Category.CategoryName)</h3>
        <div class="product-show">
            <ul>
                @foreach (var item in Leftmenus.Menus)
                {
                <li><a href="@Url.Action("Index", "Prod", new { categorycode = item.CategoryCode })">@Ecomm.Site.WebApp.Common.CommonHelper.GetCateName(item.MenuAlias, item.CategoryName)</a></li>
                }
                
            </ul>
        </div>
        }
    </div>
    <div class="popular-products">
        <div class="popular-title">
@if (Leftmenus != null)
{
    <h3>@Leftmenus.CurrCateName</h3>
}
            <div class="pull-right">
                <ul class="nav nav-pills">
                    <li @if(Ecomm.Site.WebApp.Common.Util.GetCookie("snell_product_tab_type") == "tile") { @cl; } data-id="tile">
                        <a href="#tile" data-toggle="tab">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li @if (Ecomm.Site.WebApp.Common.Util.GetCookie("snell_product_tab_type") == "list") { @cl; } data-id="list">
                        <a href="#list" data-toggle="tab">
                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--List-->
        <div id="articles">
            @Html.Partial("_ProductsList", (PagedList<ProductModel>)ViewBag.PagedListProductModel)
        </div>

    </div>
</div>
<div class="clearfix"></div>

@section scripts
{
<script type="text/javascript">

    $(function () {
        $('.nav-pills li').click(function () {
            var _id = $(this).attr('data-id');
            //console.log($(this));
            $.get('@Url.Action("TabShow", "Prod")', { tab_type: _id }, function (response) {
                //console.log(response);
            }, 'json');
        });
    });
</script>
@{ Html.RegisterMvcPagerScriptResource();}
}